<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
    <!--     <include resource="org/springframework/boot/logging/logback/base.xml"/> -->

    <!-- The FILE and ASYNC appenders are here as examples for a production configuration -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>
    <!--     <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender"> -->
    <!--         <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy"> -->
    <!--             <fileNamePattern>logFile.%d{yyyy-MM-dd}.log</fileNamePattern> -->
    <!--             <maxHistory>90</maxHistory> -->
    <!--         </rollingPolicy> -->
    <!--         <encoder> -->
    <!--             <charset>utf-8</charset> -->
    <!--             <Pattern>%d %-5level [%thread] %logger{0}: %msg%n</Pattern> -->
    <!--         </encoder> -->
    <!--     </appender> -->

    <!--         <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender"> -->
    <!--             <queueSize>512</queueSize> -->
    <!--             <appender-ref ref="FILE"/> -->
    <!--         </appender> -->
    <!--     -->

    <logger name="com.csys.myproject" level="INFO"/>
    
    <logger name="org.apache" level="ERROR"/>
    <logger name="org.apache.catalina.startup.DigesterFactory" level="OFF"/>
    <logger name="org.bson" level="ERROR"/>
    <logger name="org.hibernate.validator" level="ERROR"/>
    <logger name="org.hibernate" level="ERROR"/>
    <logger name="org.hibernate.ejb.HibernatePersistence" level="OFF"/>
    <logger name="org.springframework" level="OFF"/>
    <logger name="org.springframework.web" level="OFF"/>
    <logger name="ch.qos.logback.core" level="OFF"/>
    <logger name="ch.qos.logback.classic" level="OFF"/>
    <logger name="org.hibernate.type.BasicTypeRegistry" level="OFF"/>
     
 
    <!--     <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"> -->
    <!--         <resetJUL>true</resetJUL> -->
    <!--     </contextListener> -->

    <root level="OFF">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
